
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #232f3e;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    /* Change the link color to #111 (black) on hover */
    li a:hover {
        background-color: #37a69b;
        color: #fff;
    }
    .active {
        background-color: #4CAF50;
    }
    .padding-border{ margin-left:8px;
                          margin-right:8px;
    }
    table {
    border-collapse: collapse;
    width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even){background-color: #f2f2f2}

    th {
        background-color: #232f3e;
        color: white;
    }
    .logoutLblPos{
        position:fixed;
        right:10px;
        top:5px;
    }
    #logout {        
        width:140px;
        height:25px;
        display:block;
        font-weight:bold;
        color:#fff;
        text-decoration:none;
        text-transform:uppercase;
        text-align:center;
        padding-top:6px;
        margin: 7px 0 0 10px;
        cursor:pointer;
        border: none;  
        background-color: #37a69b;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius:5px;
    }
    #filtro{
        position:fixed;
        right:20px;
        top:60px;
        font-size: 18px
    }
    #filtrar {        
        width:140px;
        height:25px;
        font-weight:bold;
        color:#fff;
        text-decoration:none;
        text-transform:uppercase;
        text-align:center;
        cursor:pointer;
        border: none;  
        background-color: #37a69b;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius:5px;
    }